body{
	margin: 0;
	padding: 0;
	height: auto;
}
/*header{
	height: 70px;
	border-bottom: 2px solid gray;
}
.left{
	float: left;
    font-size: 37px;
    margin-left: 30px;
    padding: 26px;
}
.right{
	float: right;
}
.right ul{
	list-style: none;
}
.right li{
	display: inline-block;
	margin-right:30px;
	line-height: 62px;
	font-size: 21px;
}*/


/*.middle{
	width: 100%;
}*/

.nav{
	position: fixed;
	width: 17%;
	background-color: #233545;
	float: left;
	height: 100%;
}
.pic{
	width: 100px;
	margin: 20px auto;
}
img{
	border-radius: 50%;
}
span{
	color: white;
    font-size: 23px;
    line-height: 48px;
}
.panel{
	padding:5px 5px 5px 10px;
}
.panel i{
	color: white;
}
.panel:hover{
	background-color: #2f4050;
}
.panel a{
	color: white;
	text-decoration: none;
}
.panel a:hover{
	text-decoration: none;
	color: #a7b1c2;
}
.panel-body{
	color: white;
	padding: 5px;
}
.panel-body a{
	color: white;
	font-size: 17px;
}
.panel-body:hover{
	background-color: #2f4050;
}

/*a:visited{
	color: #a7b1c2;
}*/
/*。nav li{
	padding:10px;
	list-style:none;
	margin-left: -25px;
	padding-left: 25px;
}
.nav li:hover{
	background-color: #2f4050;
}
.nav a{
	text-decoration: none;
	color: white;
}
.nav a:hover{
	text-decoration: none;
	color: #a7b1c2;
}*/
/*.nav .move{
	width: 40px;
	height: 40px;
	float: right;
	cursor: pointer;
}
.nav i{
	color: white;
	font-size: 21px;
	padding:9px;
}*/
.content{
	width: 83%;
	float: right;
}
#top{
	width: 100%;
	height: 40px;
	background-color: #f3f3f4;
}
.caret-left,.window{
	float: left;
	height: 38px;
	background-color: white;
	color:gray;
	text-align: center;
    line-height: 38px;
    cursor: pointer;
    padding:0 10px;
}
.caret-left{
    margin: 1px 1px;
	font-size: 20px;
    display: inline-block;
}
.window{
	margin: 1px 0;
	
}
/*.list{
	position: relative;
    width: 37px;
    height: 30px;
    background-color: #1ab394;
	margin:15px 0 15px 20px;
	border-radius: 5px;
}
.three{
	position: relative;
	width: 12px;
    height: 2px;
    border-top: 6px double;
    border-bottom: 2px solid;
    color: white;
    margin:0 auto;
    top: 10px;
}*/
/*.breadnav{
	width: 100px;
	height: 100px;
	background-color: blue;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}*/
.iframe{
	width: 83%;
	position: fixed;
}
iframe{
	width: 100%;

}
/*.table{
	width: 90%;
	margin: 20px auto;
}
.table caption{
	font-size: 27px;
	margin-bottom: 13px;
}
.clear{
	clear: both;
}
*/