body{
	margin: 0;
	padding: 0;
	height: auto;
}
/*header{
	height: 70px;
	border-bottom: 2px solid gray;
}
.left{
	float: left;
    font-size: 37px;
    margin-left: 30px;
    padding: 26px;
}
.right{
	float: right;
}
.right ul{
	list-style: none;
}
.right li{
	display: inline-block;
	margin-right:30px;
	line-height: 62px;
	font-size: 21px;
}*/


/*.middle{
	width: 100%;
}*/

.nav{
	position: fixed;
	width: 17%;
	background-color: #233545;
	float: left;
	height: 100%;
}
.pic{
	width: 100px;
	margin: 20px auto;
}
span{
	color: white;
    font-size: 23px;
    line-height: 48px;
}
.nav li{
	padding:10px;
	list-style:none;
	margin-left: -25px;
	padding-left: 25px;
}
.nav li:hover{
	background-color: #2f4050;
}
.nav a{
	text-decoration: none;
	color: white;
}
.nav a:hover{
	text-decoration: none;
	color: #a7b1c2;
}
/*.nav .move{
	width: 40px;
	height: 40px;
	float: right;
	cursor: pointer;
}
.nav i{
	color: white;
	font-size: 21px;
	padding:9px;
}*/
.content{
	width: 83%;
	float: right;
}
.breadnav{
	width: 100px;
	height: 100px;
	background-color: blue;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.table{
	width: 90%;
	margin: 20px auto;
}
.table caption{
	font-size: 27px;
	margin-bottom: 13px;
}
.clear{
	clear: both;
}
