.table{
	width: 90%;
	margin: 20px auto;
	text-align: center;
}
.table caption{
	font-size: 27px;
	margin-bottom: 26px;
}
.table th,.table td{
	text-align: center;
}
.table td>span{
	padding-right:5px;
	border-right:1px solid black;
	cursor: pointer;
}
.table td>span:hover{
	color: #0088cc;
}
.table td>span:last-child{
	border-right:0;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style:none;
	text-align:center;
}
li{
	display: inline-block;
	width:20px;
	height:20px;
	background-color: #b1b4b5;/*121212*/
	color: white;
	margin:3px;
	text-align:center;
	border-radius: 5px;
	cursor: pointer;
}
li:hover{
	background-color: #121212;
}
.page{
	margin-top: 25px;
}