/*中间部分*/
.middle{
	width: 1170px;
	height: 2000px;
	margin: auto;
	padding: 20px;
}
.middle .left{
	float: left;
    width: 270px;
    height: 120px;
    /*height:auto;*/
    background-color: yellow;
}
.side_child{
	border: 1px solid #ccc;
	margin-bottom: 10px;
    background-color: #fff;
}
.side_child ul{
	list-style:none;
}
.part a:link, .part a:visited {
    color: #c88326;
}
.part a:hover{
	 color: #e63;
}
.part_title{
	padding: 5px 10px ;
	background-color: #f5f5f5;
	font-weight: bold;
}
.search input{
    padding: 2px;
    height: 26px;
    width: 200px;
    margin: 7px 0 14px 37px;
}
.fa-search{
	margin-left: -22px;
}
.middle .logo{
    width: 150px;
    height: 150px;
    margin: 20px auto;
	border-radius: 50%;
	background-image: url(../img/pic.png);
	background-size: 100%;
}
.middle .name{
    text-align: center;
    font-size: 20px;
}
.content{
	width: 170px;
	margin: 10px auto;
	height: 50px;
}
.plus{
	width: 60px;
    float: left;
    background: #999;
    padding: 6px;
}
.fa-plus,.fa-qq{
	color: white;
}
.plus:after{
	color: white;
	content: " 加关注";
	font-size: 1px;
	cursor: pointer;
}
.contect{
	width: 60px;
    float: right;
    background: #999;
    padding: 6px;
}
.contect:after{
	color: white;
	content: " 私聊我";
	font-size: 1px;
	cursor: pointer;
}
/*右边文章*/
.middle .right{
	width: 860px;
	/*height: 300px;*/
	/*background-color: red;*/
	float:left;
	margin-left: 25px;
}
.middle .right ul{
	list-style: none;
}
.middle .right li{
	padding-top: 30px;
    padding-bottom: 30px;
    border-bottom:1px solid #eee;
    /*box-sizing: 0 0 0 5px rgba(0,0,0,0.1);*/
}
.middle .right a{
	font-size: 30px;
	color:#4183c4;
}
.middle .right a:hover{
	color:#23527c;
}
.middle .right .description{
	font-size: 18px;
	color:gray;
}
.middle .right .date{
	display: inline-block;
	font-size: 18px;
	color:gray;
}
.middle .right p{
	padding-right: 10px;
}
/*右边*/
/*.middle .right{
	width: 34%;
	height: 400px;
	float: left;
}
.middle .right .repositories{
	padding-top: 26px;
	text-align: center;
	font-size: 24px;
}

.thumbnail{
	margin: 4px;
	background-color: #4183c4;
    border-radius: 4px;
    opacity: 0.8;
}
.thumbnail:hover{
    opacity: 1;

}
.card_image{
	position: relative;
	width:97%;
	height: 120px;
	background-color: white;
	margin: auto;
	top: 6px;
    border-radius: 4px;
}
.card_image,.card_image_cell{
	text-align: center;
    margin: auto;
    line-height: 120px;
}
.card_description p{
	padding-top: 0px;
	text-align:center;
    font-size: 14px;
    padding:12px;
}

.card_detail{
	font-size: 14px;
	text-align:center;
	padding-bottom: 12px;
}
.card_detail span{
	padding: 2px;
}
