<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--自动将http的不安全请求升级为https 本地加载时需注释-->
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <title>风雨雾凇的个人博客</title>
    <!--网站图标-->
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/index1.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/top.css">
    <link rel="stylesheet" type="text/css" href="css/middle.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/scroll.js"></script>

</head>
<body>
<!--基本配置必须加载完毕在显示-->
<div id="vue-data" v-if="config!=null">
    <!-- 头部导航条 -->
    <header>
        <div class="container">
            <div class="left">
                <img class="pic" src="img/pic.png">
                <a href="#" class="name">{{config.blogName}}</a>
            </div>
            <div class="right">
                <ul class="navs">
                    <li><a :href="config.nav1Url" class="nav" v-if="config.nav1Name">{{config.nav1Name}}</a></li>
                    <li><a :href="config.nav2Url" class="nav" v-if="config.nav2Name">{{config.nav2Name}}</a></li>
                    <li><a :href="config.nav3Url" class="nav" v-if="config.nav3Name">{{config.nav3Name}}</a></li>
                    <li><a :href="config.nav4Url" class="nav" v-if="config.nav4Name">{{config.nav4Name}}</a></li>
                    <li><a :href="config.nav5Url" class="nav" v-if="config.nav5Name">{{config.nav5Name}}</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 头部蓝色的 -->
    <div class="top">
        <div class="container">
            <!-- 座右铭 -->
            <div class="moto">
                <span class="moto">{{config.title}}</span>
            </div>
            <div class="message">
				<span class="address">
				<i class="fa fa-map-marker fa-fw"></i>
				{{config.address}}</span>
                <!--<span class="store"><a href=""><img src="img/store.png" class="icon">cloudfavorites</a></span>-->
                <span class="git"><a :href="config.gitUrl">
				 <i class="fa fa-github fa-fw"></i>
				@{{config.git}}</a></span>
            </div>

        </div>
    </div>
    <div class="toTop" @click="topTop()">
        <i class="fa fa-angle-up" aria-hidden="true" id="up"></i>
    </div>
    <!-- 中间内容区 -->
    <div class="middle">
        <!-- 左边 -->
        <div class="left">
            <template v-if="articles">
                <!--文章区域-->
                <div class="essay">
                    <ul class="essay">
                        <li v-for="article in articles.list">
                            <p><a :href="'html/message.html?id='+article.id">{{article.title}}</a></p>
                            <p class="description">{{article.description}}</p>
                            <p class="essay_message">
                            <span class="calendar"><i
                                    class="fa fa-calendar fa-fw"></i>&nbsp;{{article.updateTime | time}}</span>
                                <span class="user"><i class="fa fa-user fa-fw"></i>&nbsp;{{article.author}}</span>
                                <span class="classify"><i class="fa fa-sticky-note fa-fw"></i>&nbsp;{{article.category.categoryName}}</span>
                                <span class="tags"><i class="fa fa-tags fa-fw"></i><template
                                        v-for="tag in article.articleTags">&nbsp;{{tag.tagName}}</template></span>
                            </p>
                        </li>
                    </ul>
                </div>

                <!--页码区域-->
                <div class="page">
                    <ul class="pagination pagination_type1 pagination_type4">
                        <li class="pagination__item" v-if="articles.hasPreviousPage"
                        >
                            <a :href="'#'+ articles.prePage "
                               @click="changePage(articles.prePage)"
                               class="pagination__number">←<span
                                    class="pagination__control pagination__control_prev">prev</span></a>
                        </li>


                        <li class="pagination__item" v-for="value in articles.navigatepageNums">
                            <a :href="'#'+ value " class="pagination__number"
                               v-bind:class={"pagination__number_active":value==articles.pageNum}
                               @click="changePage(value)">{{value}}</a>
                        </li>

                        <li class="pagination__item" v-if="articles.hasNextPage">
                            <a :href="'#'+ articles.nextPage "
                               class="pagination__number"
                               @click="changePage(articles.nextPage)"><span
                                    class="pagination__control pagination__control_next">next</span>→</a>
                        </li>
                    </ul>
                </div>
            </template>
            <!--todo 添加加载中标识-->
            <h2 v-else>文章正在加载中</h2>
        </div>
        <!-- 右边 -->
        <div class="right">
            <!-- 文章分类 -->
            <div class="side_child classify">
                <div class="part_title">文章分类</div>
                <div class="part">
                    <template v-if="category">
                        <ul>
                            <li v-for="c in category" @click="getArticlesByCategory(1,c.id)">
                                <a :href="'#/category/'+ c.categoryName +'/1'">
                                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                    {{c.categoryName}}
                                </a>
                            </li>
                        </ul>
                    </template>
                    <!--todo 添加加载中标识-->
                    <h2 v-else>分类正在加载中</h2>
                </div>
            </div>


            <!--tag-->
            <div class="side_child hot_tags">
                <div class="part_title">热门标签</div>

                <div class="part">
                    <template v-if="tags">
                        <span v-for="tag in tags" @click="getArticlesByTag(1,tag.id)">
                            <a
                                    :href="'#/tag/'+ tag.tagName +'/1'"><i class="fa fa-tag"
                                                                           aria-hidden="true"></i>{{tag.tagName}}</a></span>
                    </template>
                    <!--todo 添加加载中标识-->
                    <h2 v-else>tag正在加载中</h2>
                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">{{config.footer}}</div>
</div>

<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="js/index.js"></script>
<script>
    $(function () {
        index.init();
    });
</script>
</body>
</html>