<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <meta charset="UTF-8">
    <title>文章列表</title>
    <!--网站图标-->
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
</head>
<body>
<div id="vue-data">
    <!--这个判定条件不成立-->
    <div class="table">
        <table class="table table-striped">
            <caption>文章列表</caption>
            <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>状态</th>
                <th>作者</th>
                <th>点赞</th>
                <th>阅读</th>
                <th>分类</th>
                <th>标签</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="articles!=null">
                <tr v-for="article in articles.list">
                    <td>{{article.id}}</td>
                    <td>{{article.title}}</td>
                    <td>
                        <span v-if="article.status==0||article.status==null">未发布</span>
                        <span v-if="article.status==1">已发布</span>
                        <span v-if="article.status==2">下架</span>
                    </td>
                    <td>{{article.author}}</td>
                    <td>
                        <span v-if="article.star==0||article.star==null">0</span>
                        <span v-else>{{article.star}}</span>
                    </td>
                    <td>
                        <span v-if="article.readNum==0||article.readNum==null">0</span>
                        <span v-else>{{article.readNum}}</span>
                    </td>
                    <td>{{article.category.categoryName}}</td>
                    <td>
                        <span v-for="tag in article.articleTags"> &nbsp; {{tag.tagName}}&nbsp;  </span>
                    </td>
                    <td>
                        <span><a :href="'./edit.html?id='+article.id">编辑</a></span>
                        <!--<span>置顶</span>-->
                        <span class="delete" @click="getDeleteId(article.id)"><a href="#delete"
                                                                                 data-target="#deleteModal"
                                                                                 data-toggle="modal">删除</a></span>
                    </td>
                </tr>
            </template>
            <template v-else>
                正在加载中。。。
            </template>
            </tbody>
        </table>
    </div>
    <template v-if="articles!=null">
        <div class="page">
            <ul>
                <li v-if="articles.hasPreviousPage" @click="changePage(articles.prePage)"><</li>
                <li v-for="value in articles.navigatepageNums"
                    @click="changePage(value)"
                    v-bind:class={"active":value==articles.pageNum}>{{value}}
                </li>
                <li v-if="articles.hasNextPage" @click="changePage(articles.nextPage)">></li>
            </ul>
        </div>
    </template>
    <!--<template v-else>-->
    <!--正在加载中。。。-->
    <!--</template>-->
    <!-- 删除窗口 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title center" id="deleteModalLabel">
                        是否确定删除？
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="warning">删除后将会不在出现在列表中！</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-danger" @click="deleteArticle(articles.pageNum)">
                        删除
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/list.js"></script>
<script>
    $(function () {
        list.init();
    });
</script>
</body>
</html>