<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keep pure more smile</title>
    <link rel="stylesheet" type="text/css" href="../css/editormd.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/message.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/top.css">
    <link rel="stylesheet" type="text/css" href="../css/middle.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="vue-data" v-if="config!=null&&article!=null">
    <!-- 头部导航条 -->
    <header>
        <div class="container">
            <div class="left">
                <img class="pic" src="../img/pic.png">
                <a href="#" class="name">{{config.blogName}}</a>
            </div>
            <div class="right">
                <ul class="navs">
                    <li><a :href="config.nav1Url" class="nav" v-if="config.nav1Name">{{config.nav1Name}}</a></li>
                    <li><a :href="config.nav2Url" class="nav" v-if="config.nav2Name">{{config.nav2Name}}</a></li>
                    <li><a :href="config.nav3Url" class="nav" v-if="config.nav3Name">{{config.nav3Name}}</a></li>
                    <li><a :href="config.nav4Url" class="nav" v-if="config.nav4Name">{{config.nav4Name}}</a></li>
                    <li><a :href="config.nav5Url" class="nav" v-if="config.nav5Name">{{config.nav5Name}}</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 头部蓝色的 -->
    <div class="top">
        <div class="container">
            <!-- 座右铭 -->
            <div class="message_title">
                <span class="message_title">{{article.title}}</span>
            </div>
            <div class="date">
                <span class="calendar"><i class="fa fa-calendar fa-fw"></i>&nbsp;{{article.updateTime | time}}</span>
                <span class="git"><a :href="config.gitUrl">
				 <i class="fa fa-github fa-fw"></i>
				@{{config.git}}</a></span>
            </div>

        </div>
    </div>
    <!-- 中间内容区 -->
    <div class="middle">
        <!-- 左边 -->
        <div class="left">
            <div class="essay">
                <div id="test-editormd-view">
                    <label>
                        <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
                    </label>
                </div>

            </div>
        </div>
        <!-- 右边 -->
        <div class="right">
            <!-- 文章分类 -->
            <div class="side_child classify">
                <div class="part_title">文章导航</div>
                <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="toTop">
        <i class="fa fa-angle-up" aria-hidden="true" id="up"></i>
    </div>
    <div class="footer">{{config.footer}}</div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
<script src="https://cdn.bootcss.com/raphael/2.2.7/raphael.min.js"></script>
<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdn.bootcss.com/js-sequence-diagrams/1.0.6/sequence-diagram-min.js"></script>
<script src="https://cdn.bootcss.com/flowchart/1.7.0/flowchart.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="../js/editormd.js"></script>
<script type="text/javascript" src="../js/scroll.js"></script>
<script src="../js/message.js"></script>
<script>
    $(function () {
        message.init();
    });
</script>
</body>
</html>