.form-group {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

span.twitter-typeahead {
    width: 0;
}

.editormd {
    margin: 20px auto;
}

.content h1 {
    text-align: center;
}

.modal-body {
    overflow-y: visible;
}

.bootstrap-tagsinput {
    width: 39%;
}