body {
    font-family: 'Open Sans', sans-serif;
}

.middle a {
    text-decoration: none;
}
/*中间部分*/
.middle {
    width: 1170px;
    margin: auto;
    padding: 20px;
}
/*左边文章*/
.middle .left {
    width: 900px;
    float: left;
}

.middle .right {
    margin-top: 12px;
    float: left;
    width: 242px;
    margin-left: 20px;
    color: #4183c4;
}

.side_child {
    width: 220px;
    margin: 10px auto;
    padding: 10px;
    /*min-height: 200px;*/
    position: relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1, #f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;   
}

.side_child:before {
    content: '';
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
    -webkit-transform: translate(-35px, -40px) skew(0deg, 30deg) rotate(-25deg);
}

.side_child:after {
    content: '';
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    z-index: -1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg) translate(20px, 25px) skew(20deg);
}

.part_title {
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.side_child ul {
    list-style: none;
}

.side_child li {
    line-height: 24px;
}

.part i {
    color: #4183c4;
    padding-right: 4px;
}

.part a {
    color: #4183c4;
}

.part a:hover {
    color: #23527c;
}

.part span {
    /*display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 25px;*/
    margin-bottom: 5px;
}

.hot_tags span {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.classify ul, .update ul {
    margin-left: -25px;
}

.clear {
    clear: both;
}

.toTop {
    position: fixed;
    width: 50px;
    height: 50px;
    color: white;
    bottom: 80px;
    text-align: center;
    line-height: 45px;
    font-size: 40px;
    background-color: #4183c4;
    border-radius: 5px;
    display: block;
    z-index: 100;
}

.toTop:hover {
    background-color: #23527c;
}