/* 
*reset pagination
*/
.page {
    width: 466px;
    margin: 0 auto;
}

.pagination {
    font-size: 14px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination__number {
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    color: var(--paginationPageTextColor, inherit);
}

.pagination__number:hover {
    text-decoration: none;
}

.pagination__number_active {
    font-weight: var(--paginationPageFontWeight, 700);
}

.pagination__control_prev {
    margin-left: var(--paginationArrowIndent, 4px);
}

.pagination__control_next {
    margin-right: var(--paginationArrowIndent, 4px);
}

/*
* types of pagination
*/

.pagination_type1 .pagination__number {
    padding: 7px 10px;
}

.pagination_type1 .pagination__number_active {
    background-color: var(--paginationPageActiveBgColor);
    color: var(--paginationPageActiveTextColor);
}

/* type 2 */

.pagination_type2 .pagination__number {
    border: 2px solid transparent;
    padding: 5px 8px;
}

.pagination_type2 .pagination__number_active {
    border-color: var(--paginationPageActiveBgColor);
    color: var(--paginationPageActiveTextColor);
}

/* type 3 */

.pagination_type3 .pagination__number {
    border-radius: 50%;
}

/* type 4 */

.pagination_type4 .pagination__number {
    border-radius: 2px;
}

/* type 5 */

.pagination_type5 {
    --paginationArrowIndent: 10px;
}

.pagination_type5 .pagination__number {
    padding: 10px 15px;
}

/*
* demo styles for pagination
*/

.pagination_type1 {
    --paginationPageActiveBgColor: #4557bb;
    --paginationPageTextColor: #0094d9;
    --paginationPageActiveTextColor: #fff;
}

.pagination_type2 {
    --paginationPageTextColor: #0094d9;
    --paginationPageActiveTextColor: #4557bb;
    --paginationPageActiveBgColor: #4557bb;
}

.pagination_type5 {
    --paginationPageTextColor: #fff;
    --paginationPageActiveBgColor: #5668ca;
    background-color: #4557bb;
}

@media screen and (max-width: 640px) {

    .pagination__item {
        display: none;
    }

    .pagination__item:first-child, .pagination__item:nth-child(2),
    .pagination__item:nth-child(3), .pagination__item:nth-child(4),
    .pagination__item:nth-child(5), .pagination__item:last-child {
        display: inline-block;
    }

    .pagination__control {
        display: none;
    }
}

/*
* demo page
*/

@media screen and (min-width: 768px) {

    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 767px) {

    html {
        font-size: 50%;
    }
}

a {
    text-decoration: none;
    color: #0094d9;
}

a:hover, a:focus {
    text-decoration: underline;
}

.page__demo {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.main-container {
    width: 90%;
    max-width: 1000px;
    box-sizing: border-box;

    padding-left: 1rem;
    padding-right: 1rem;

    margin-right: auto;
    margin-left: auto;
}

.page__container {
    padding: 5rem 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

    background-color: #fff;
    box-shadow: 0 0 20px -4px rgba(34, 34, 34, .2);
}

.demo {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.demo:first-child {
    margin-top: 0;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.4rem;
}

@media screen and (min-width: 641px) {

    .footer__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .melnik909 {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 640px) {

    .melnik909 {
        display: none;
    }
}