<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <link rel="stylesheet" type="text/css" href="../css/editormd.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/editormd.js"></script>
    <style>
        .editormd {
            margin: 20px auto;
        }

        .content h1 {
            text-align: center;
        }

        button {
            font-size: 17px;
            padding: 5px 10px;
            border-radius: 4px;
            background: transparent;
            cursor: pointer;
            margin: 0 auto;
            border: 1px solid;
        }
    </style>

</head>
<body>
<div class="content">
    <h1>编写文章</h1>
    <!--编辑器-->
    <div id="editormd">
        <textarea style="display:none;" name="content" th:field="*{content}" th:text="${target.content}"></textarea>
    </div>
</div>
<button id="submit">提交</button>
<script src="../js/edit.js"></script>
<script>
    $(function () {
        edit.init();
    })
</script>
</body>
</html>