<?xml version="1.0" encoding="UTF-8" ?>
<!--  Created by fengyuwusong on 2017/10/3 14:49. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niriqiang.blog.domain.ConfigMapper">


    <update id="update">
        UPDATE blog.config
        # suffixOverrides 去掉最后的逗号
        <!--        <trim prefix="set" suffixOverrides=",">-->
        <set>
            <if test="adminName!=null">
                admin_name = #{adminName},
            </if>
            <if test="adminPw!=null">
                admin_pw = #{adminPw},
            </if>
            <if test="blogName!=null">
                blog_name = #{blogName},
            </if>
            <if test="footer!=null">
                footer = #{footer},
            </if>
            <!--<if test="blogPic!=null">-->
            <!--blog_pic = #{blogPic},-->
            <!--</if>-->
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="address!=null">
                address = #{address},
            </if>
            <if test="git!=null">
                git = #{git},
            </if>
            <if test="gitUrl!=null">
                git_url = #{gitUrl},
            </if>
            nav1_name = #{nav1Name},
            nav1_url = #{nav1Url},
            nav2_Name = #{nav2Name},
            nav2_url = #{nav2Url},
            nav3_name = #{nav3Name},
            nav3_url = #{nav3Url},
            nav4_name = #{nav4Name},
            nav4_url = #{nav4Url},
            nav5_name = #{nav5Name},
            nav5_url = #{nav5Url}
        </set>
    </update>
    <update id="click">
        UPDATE
            blog.config
        SET click = click + 1
    </update>
    <select id="login" resultType="java.lang.Integer">
        SELECT count(*)
        FROM blog.config
        WHERE admin_name = #{adminName} AND admin_pw = #{adminPw};
    </select>
    <select id="get" resultType="cn.niriqiang.blog.domain.Config">
        SELECT
            blog_name,
            footer,
            blog_pic,
            click,
            title,
            address,
            git,
        git_url,
        nav1_name,
        nav1_url,
        nav2_name,
        nav2_url,
        nav3_name,
        nav3_url,
        nav4_name,
        nav4_url,
        nav5_name,
        nav5_url
        FROM blog.config
    </select>

    <select id="getAdminPw" resultType="cn.niriqiang.blog.domain.Config">
        SELECT admin_pw
        FROM blog.config
    </select>
    <select id="adminGet" resultType="cn.niriqiang.blog.domain.Config">
        SELECT *
        FROM blog.config
    </select>


</mapper>